<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="query_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="query" type="xstring" value="PREFIX wd: &lt;http://www.wikidata.org/entity/&gt;%%00010PREFIX wdt: &lt;http://www.wikidata.org/prop/direct/&gt;%%00010PREFIX wikibase: &lt;http://wikiba.se/ontology#&gt;%%00010PREFIX p: &lt;http://www.wikidata.org/prop/&gt;%%00010PREFIX ps: &lt;http://www.wikidata.org/prop/statement/&gt;%%00010PREFIX pq: &lt;http://www.wikidata.org/prop/qualifier/&gt;%%00010PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;%%00010PREFIX bd: &lt;http://www.bigdata.com/rdf#&gt;%%00010%%00010SELECT ?id%%00010{%%00010    # items with DFD ID%%00010    ?item wdt:P6597 ?id .%%00010}"/>
<config key="timeout_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_long"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="timeout" type="xlong" value="60"/>
<config key="type_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="type" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="all DFD IDs currently%%00010in use on Wikidata"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="273"/>
<entry key="y-coordinate" type="xint" value="319"/>
<entry key="width" type="xint" value="134"/>
<entry key="height" type="xint" value="38"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="11"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.semanticweb.nodes.query.SPARQLQueryNodeFactory"/>
<entry key="node-name" type="xstring" value="SPARQL Query"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Semantic Web Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.semanticweb"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.0.v201912131004"/>
<entry key="node-feature-name" type="xstring" value="KNIME Semantic Web"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.semanticweb.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.2.0.v201912131004"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="SPARQL Query"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
